<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="es">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Página en Construcción</title>
        <link rel="stylesheet" href="styles.css" />
      </head>
      <body>
        <div class="container">
          <img
            src="https://img.freepik.com/free-vector/construction-worker-with-ladder_1308-108927.jpg?t=st=1738179889~exp=1738183489~hmac=4e2e58d2ee04cb50530bb7074cd2a6d91cf1cfc1b4abcf73e54f3c40deed474e&w=740"
            alt="Muñeco con casco de construcción"
          />
          <h1>¡Estamos trabajando en ello!</h1>
          <p>
            Nuestra página estará disponible pronto. Gracias por tu paciencia.
          </p>
        </div>
      </body>
    </html>
  </body>
</html>
